<launch>
    <node pkg="joy" type="joy_node" name="joy_node">
        <param name="~autorepeat_rate" value="10"/>
    </node>

    <node pkg="joystick_op" type="joystick_operation" name="joystick_operation"></node>
    
    <node pkg="driver_ctrl" type="communication" name="communication" output="screen">
        <param name="port" value="/dev/ttyUSB0"/>
        <param name="baudrate" value="115200"/>
        <param name="control_rate" value="10"/>
    </node>

    <node pkg="my_imu" type="my_imu" name="my_imu"></node>

    <!-- <node pkg="gps" type="gps_reader.py" name="gps_reader">
        <param name="~port" value="/dev/ttyUSB1"/>
        <param name="~baudrate" value="38400"/>
    </node> -->

    <!-- <node pkg="rosbag" type="record" name="joy_record" output="screen" args=" /joy /feedback_msg /gps_data"></node> -->
</launch>