<launch>
    
    <node pkg="driver_ctrl" type="communication" name="communication">
        <param name="port" value="/dev/ttyUSB0"/>
        <param name="baudrate" value="115200"/>
        <param name="control_rate" value="20"/>
    </node>

    <node pkg="my_imu" type="my_imu" name="my_imu"></node>

    <node pkg="server_communication" type="server_communication.py" name="server_communication" output="screen">
        <param name="~server_ip" value="192.168.1.100"/>
        <!-- <param name="~server_ip" value="101.132.135.141"/> -->
        <param name="~server_port" value="31415"/>
        <param name="~report_rate" value="10"/>
    </node>
        
</launch>